{{#partial "content"}}
        {{#if sightings}}
            <h3 style="text-align:center; text-decoration:underline;margin-bottom:20px;">ALL SIGHTINGS</h3>
            {{#each sightings }}
                <ol>
                    <li><strong>Sighting made for animal named:<em style="text-decoration:underline;"> {{ animalName }}</em>,at <em style="text-decoration:underline;">{{ location }}</em>,by ranger <em style="text-decoration:underline;">{{ rangerName }}</em>.</strong></li>
                </ol>
             {{/each}}
        {{else}}
            <h3>No Sightings made yet yet</h3>
        {{/if}}

{{/partial}}

{{> layout.hbs}}