{{#partial "content"}}
    <button type="button"><a href="/animal/new">add an Animal</a></button>
    <button type="button"><a href="/EndangeredAnimal/new">add an Endangered Animal</a></button>
    <button type="button"><a href="/sight/new">Make a sighting</a></button>
{{/partial}}

{{> layout.hbs}}