{{#partial "content"}}
    <h3>Add a new Animal!</h3>
        <form action="/animal/new" method="post">
            <div class="form-group">
                <label for="name">Animal name:</label><br>
                <input class="form-control" id="name" name="name" type="text"><br>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">ADD</button>
            </div>
        </form>
{{/partial}}
{{> layout.hbs}}